# Local PostgreSQL via docker-compose (PostGIS 16)
DATABASE_URL="postgresql://rivansafar:rivansafar123@localhost:5432/rivansafar?schema=public"

# Example production URL (replace with your actual online DB URL)
# DATABASE_URL="postgresql://postgres:PASSWORD@HOST:PORT/DB_NAME?schema=public&sslmode=require"

NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3001"
NEXT_PUBLIC_SITE_URL="http://localhost:3001"
NEXT_PUBLIC_SITE_NAME="ریوان سفر"
