allow-scripts=true
allowScripts[]=prisma
allowScripts[]=@prisma/client
allowScripts[]=@prisma/engines
allowScripts[]=esbuild
allowScripts[]=sharp
allowScripts[]=unrs-resolver
allowScripts[]=bcryptjs
fund=false
audit=false
